@font-face {
    font-family: 'S-CoreDream-1';
    font-style: normal;
    font-weight: normal;
    src: local('※');
    src: url('S-CoreDream-1Thin.eot');
    /* IE9 Compat Modes */
    src: url('S-CoreDream-1Thin.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('S-CoreDream-1Thin.otf') format('opentype'),
        /* Open Type Font */
        url('S-CoreDream-1Thin.svg') format('svg'),
        /* Legacy iOS */
        url('S-CoreDream-1Thin.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('S-CoreDream-1Thin.woff') format('woff'),
        /* Modern Browsers */
        url('S-CoreDream-1Thin.woff2') format('woff2');
    /* Modern Browsers */
}

@font-face {
    font-family: 'S-CoreDream-2';
    font-style: normal;
    font-weight: normal;
    src: local('※');
    src: url('S-CoreDream-2ExtraLight.eot');
    /* IE9 Compat Modes */
    src: url('S-CoreDream-2ExtraLight.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('S-CoreDream-2ExtraLight.otf') format('opentype'),
        /* Open Type Font */
        url('S-CoreDream-2ExtraLight.svg') format('svg'),
        /* Legacy iOS */
        url('S-CoreDream-2ExtraLight.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('S-CoreDream-2ExtraLight.woff') format('woff'),
        /* Modern Browsers */
        url('S-CoreDream-2ExtraLight.woff2') format('woff2');
    /* Modern Browsers */
}

@font-face {
    font-family: 'S-CoreDream-3';
    font-style: normal;
    font-weight: normal;
    src: local('※');
    src: url('S-CoreDream-3Light.eot');
    /* IE9 Compat Modes */
    src: url('S-CoreDream-3Light.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('S-CoreDream-3Light.otf') format('opentype'),
        /* Open Type Font */
        url('S-CoreDream-3Light.svg') format('svg'),
        /* Legacy iOS */
        url('S-CoreDream-3Light.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('S-CoreDream-3Light.woff') format('woff'),
        /* Modern Browsers */
        url('S-CoreDream-3Light.woff2') format('woff2');
    /* Modern Browsers */
}

@font-face {
    font-family: 'S-CoreDream-4';
    font-style: normal;
    font-weight: normal;
    src: local('※');
    src: url('S-CoreDream-4Reguler.eot');
    /* IE9 Compat Modes */
    src: url('S-CoreDream-4Reguler.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('S-CoreDream-4Reguler.otf') format('opentype'),
        /* Open Type Font */
        url('S-CoreDream-4Reguler.svg') format('svg'),
        /* Legacy iOS */
        url('S-CoreDream-4Reguler.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('S-CoreDream-4Reguler.woff') format('woff'),
        /* Modern Browsers */
        url('S-CoreDream-4Reguler.woff2') format('woff2');
    /* Modern Browsers */
}

@font-face {
    font-family: 'S-CoreDream-5';
    font-style: normal;
    font-weight: normal;
    src: local('※');
    src: url('S-CoreDream-5Medium.eot');
    /* IE9 Compat Modes */
    src: url('S-CoreDream-5Medium.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('S-CoreDream-5Medium.otf') format('opentype'),
        /* Open Type Font */
        url('S-CoreDream-5Medium.svg') format('svg'),
        /* Legacy iOS */
        url('S-CoreDream-5Medium.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('S-CoreDream-5Medium.woff') format('woff'),
        /* Modern Browsers */
        url('S-CoreDream-5Medium.woff2') format('woff2');
    /* Modern Browsers */
}

@font-face {
    font-family: 'S-CoreDream-6';
    font-style: normal;
    font-weight: normal;
    src: local('※');
    src: url('S-CoreDream-6Bold.eot');
    /* IE9 Compat Modes */
    src: url('S-CoreDream-6Bold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('S-CoreDream-6Bold.otf') format('opentype'),
        /* Open Type Font */
        url('S-CoreDream-6Bold.svg') format('svg'),
        /* Legacy iOS */
        url('S-CoreDream-6Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('S-CoreDream-6Bold.woff') format('woff'),
        /* Modern Browsers */
        url('S-CoreDream-6Bold.woff2') format('woff2');
    /* Modern Browsers */
}

@font-face {
    font-family: 'S-CoreDream-7';
    font-style: normal;
    font-weight: normal;
    src: local('※');
    src: url('S-CoreDream-7ExtraBold.eot');
    /* IE9 Compat Modes */
    src: url('S-CoreDream-7ExtraBold.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('S-CoreDream-7ExtraBold.otf') format('opentype'),
        /* Open Type Font */
        url('S-CoreDream-7ExtraBold.svg') format('svg'),
        /* Legacy iOS */
        url('S-CoreDream-7ExtraBold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('S-CoreDream-7ExtraBold.woff') format('woff'),
        /* Modern Browsers */
        url('S-CoreDream-7ExtraBold.woff2') format('woff2');
    /* Modern Browsers */
}

@font-face {
    font-family: 'S-CoreDream-8';
    font-style: normal;
    font-weight: normal;
    src: local('※');
    src: url('S-CoreDream-8Heavy.eot');
    /* IE9 Compat Modes */
    src: url('S-CoreDream-8Heavy.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('S-CoreDream-8Heavy.otf') format('opentype'),
        /* Open Type Font */
        url('S-CoreDream-8Heavy.svg') format('svg'),
        /* Legacy iOS */
        url('S-CoreDream-8Heavy.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('S-CoreDream-8Heavy.woff') format('woff'),
        /* Modern Browsers */
        url('S-CoreDream-8Heavy.woff2') format('woff2');
    /* Modern Browsers */
}

@font-face {
    font-family: 'S-CoreDream-9';
    font-style: normal;
    font-weight: normal;
    src: local('※');
    src: url('S-CoreDream-9Black.eot');
    /* IE9 Compat Modes */
    src: url('S-CoreDream-9Black.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('S-CoreDream-9Black.otf') format('opentype'),
        /* Open Type Font */
        url('S-CoreDream-9Black.svg') format('svg'),
        /* Legacy iOS */
        url('S-CoreDream-9Black.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('S-CoreDream-9Black.woff') format('woff'),
        /* Modern Browsers */
        url('S-CoreDream-9Black.woff2') format('woff2');
    /* Modern Browsers */
}
