@font-face {
    font-family: 'BMHanNa11';
    font-style: normal;
    font-weight: 400;
    src: local('※'),
        url('BMHanNa11.woff2') format('woff2'), 
        url('BMHanNa11.woff') format('woff'),
        url('BMHanNa11.ttf') format('truetype'),
        url('BMHanNa11.otf') format('opentype'),
        url('BMHanNa11.eot') format('embedded-opentype');
}
