@font-face {
    font-family: 'SongMyung';
    font-style: normal;
    font-weight: 400;
    src: local('※'),
        url('SongMyung.woff2') format('woff2'),
        url('SongMyung.woff') format('woff'),
        url('SongMyung.ttf') format('truetype'),
        url('SongMyung.eot') format('embedded-opentype');
}
