@font-face {
    font-family: 'BMBMDoHyeon';
    font-style: normal;
    font-weight: 400;
    src: local('※'),
        url('BMDoHyeon.woff2') format('woff2'), 
        url('BMDoHyeon.woff') format('woff'),
        url('BMDoHyeon.ttf') format('truetype'),
        url('BMDoHyeon.otf') format('opentype'),
        url('BMDoHyeon.eot') format('embedded-opentype');
}
